.discuss-container{
    border: 1px solid #e7eaf2;
    box-shadow: 0 1px 3px 0 rgba(0,33,77,.05);
    background: #fff;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px;
    display:flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    .discuss-item{
        margin-bottom: 6px;
        line-height: 25px;
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 12px 16px 10px;
        font-size: 15px;
    }
    .comment-textarea{
        padding: 12px 16px;
        background: #fff;
        border-top: 1px solid #ebeef5;
        textarea{
           height:36px;
           line-height: 36px;
           width: 89%;
        }
    }
}
