.banner-box{
    width: 100%;
    border-bottom: 1px solid rgba(30,35,42,.06);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    .inner-banner-box{
        position: relative;
        display: flex;
        height: 52px;
        padding: 0 16px;
        margin: 0 auto;
        align-items: center;
        transition: transform .3s;
        nav{
            display: flex;
            justify-content: space-between;
            height: 30px;
            margin-right: 18px;
            margin-left: 27px;
            color: #999;
            a{
                padding: 0 15px;
                font-size: 15px;
                line-height: 30px;
                color: #8590a6;
            }
        }
        .search-form{
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 326px;
            height: 34px;
            padding: 4px 10px;
            font-size: 14px;
            background: #fff;
            border: 1px solid #e7eaf1;
            border-radius: 3px;
            box-sizing: border-box;
            transition: background .2s,border .2s;
            input{
                width: 326px;
                transition: width .2s ease,background .3s ease;
            }
        }
        .b-operate{
            flex: 1;
            justify-content: flex-end;
            display: flex;
            align-items: center;
        }
    }
}
